@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,700i,800,900|Roboto:400,700,900,900i');

/*NORMALIZE*/


/** {
    margin: 0;
    padding: 0;
}*/

body {
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    width: 100%;
}

* {
    box-sizing: border-box;
}


/*LAYOUT*/

.l-header {
    background: #abeafa;
    height: 700px;
    min-width: 1500px;
    width: 100%;
}

.l-header-fixed-size {
    display: flex;
    flex-flow: row nowrap;
    width: 1170px;
    background: #abeafa;
    margin: 0 auto;
}

.l-header-fixed-left {
    position: relative;
    width: 585px;
}

.l-header-fixed-right {
    position: relative;
    width: 585px;
}

.l-footer {
    position: relative;
    background: #373737;
    height: 348px;
    min-width: 1500px;
    width: 100%;
}

.l-container {
    margin: 0 auto;
    margin-top: -20px;
    width: 1170px;
    background-color: rgba(0, 0, 0, 0);
}

.l-catalog {
    padding-left: 300px;
    min-width: 870px;
}


/*BLOCKS*/


/*BLOCKS --- HEADER*/

.surhouse-logo {
    width: 125px;
    height: 111px;
    margin: 24px 0 0 69px;
}

.social-block-top {
    text-align: right;
    margin: 50px 80px 0 0;
}

.adv-block {
    font-family: 'Raleway', serif;
}


/*BLOCKS --- MENU*/

.menu {
    /*	position: relative;*/
    display: flex;
    flex-flow: column nowrap;
    float: left;
    height: 475px;
    width: 270px;
    margin-bottom: 30px;
    background-color: #26d2fc;
    font-family: 'Roboto', serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu-lvl2 {
    display: none;
    position: absolute;
    background: #75e3fe;
    color: #333333;
    list-style: square;
}

.menu-lvl3 {
    display: none;
    position: absolute;
    background: #75e3fe;
    color: #333333;
    list-style: square;
}


/*BLOCKS --- CONTAINER*/

.product-block-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.product-block--new {
    margin-bottom: 50px;
}

.product-block--top {
    margin-bottom: 50px;
}

.brand-block {
    display: flex;
    align-items: center;
    padding: 0 14px 0 14px;
    width: 100%;
    height: 160px;
    background: #fff;
}

.instagram-feed {
    width: 100%;
    height: 350px;
    background: #eaeaea;
    padding-top: 50px;
}

.social-bottom {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 150px;
}


/*BLOCKS --- CONTAINER*/

.footer-narrow {
    background: #333333;
    height: 47px;
    min-width: 1500px;
    width: 100%;
}


/*BLOCKS --- FOOTER*/

.footer-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-family: 'Roboto', serif;
    font-size: 12px;
    font-weight: 400;
    padding-top: 75px;
    width: 1170px;
    margin: 0 auto;
}

.footer-narrow {
    position: absolute;
    bottom: 0;
}


/*ELEMENTS*/


/*ELEMENTS --- HEADER*/

.adv-block__button {
    border: none;
    font-family: 'Raleway', serif;
    outline: none;
}

.social-block-top__img {
    display: inline-block;
    margin-right: 12px;
}


/*ELEMENTS --- MENU*/

.menu__list {
    margin-top: 0;
    list-style: none;
    padding: 0;
}

.menu__header {
    background: #333333;
    width: 270px;
    height: 66px;
    padding-left: 40px;
    color: #fff;
    line-height: 66px;
    vertical-align: middle;
}

.menu__item {
    position: relative;
    padding-left: 40px;
    line-height: 35px;
    color: #333333;
    vertical-align: middle;
}

.menu__link {
    color: inherit;
    text-decoration: none;
}

.product-block__item {
    position: relative;
    background-color: #ffffff;
    font-family: 'Roboto', serif;
    font-weight: 900;
    color: #333333;
    width: 270px;
    height: 320px;
    margin-bottom: 30px;
    padding: 10px;
}


/*ELEMENTS --- CONTAINER*/

.product-block__header {
    height: 80px;
    background: #f9f9f9;
}

.product-block__header-text {
    font-family: 'Roboto', serif;
    color: #707070;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    line-height: 80px;
    vertical-align: middle;
    text-transform: uppercase;
    margin-left: 25px;
}

.product-block__preview {
    background: #eaeaea;
    width: 250px;
    height: 235px;
}

.product-block__bottom-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}

.product-block__title {
    margin-top: 25px;
    font-size: 14px;
    line-height: 18px;
    text-align: start;
}

.product-block__price {
    margin-top: 27px;
    font-size: 18px;
    text-align: right;
}

.product-block__discount {
    align-self: flex-end;
    color: #e24602;
    font-size: 14px;
    text-align: right;
    margin-left: auto;
    text-decoration: line-through;
}

.social-bottom__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 150px;
}

.instagram-feed__text-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', serif;
    color: #333333;
    font-weight: 900;
    font-style: italic;
}

.instagram-feed__text {
    font-size: 18px;
}

.instagram-feed__icon {
    margin-right: 10px;
}

.instagram-feed__img-feed {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 25px;
}


/*ELEMENTS --- FOOTER*/

.footer-block {
    font-family: 'Roboto', serif;
}

.footer-block__header {
    font-family: 'Raleway', serif;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}

.footer-block__list {
    color: #f8f8f8;
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
    line-height: 18px;
}

.footer-block__paymethods {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.footer-block__text {
    color: #f8f8f8;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
}

.footer-block__input {
    padding-left: 20px;
    background: #fff51f;
    width: 180px;
    height: 30px;
    margin: 0;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    border: none;
    outline: none;
}

.footer-block__submit {
    background: #000000;
    color: #fff;
    border: none;
    width: 71px;
    height: 30px;
    margin-left: -3px;
    text-transform: uppercase;
}

.footer-block__phone-txt {
    display: inline;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin-right: 18px;
}

.footer-block__phone-num {
    display: inline;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    margin-right: 56px;
}

.footer-block__email-txt {
    display: inline;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin-right: 20px;
}

.footer-block__email-add {
    display: inline;
    color: #faef03;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
}

.footer-narrow__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 1170px;
    height: 47px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}

.footer-narrow__copyright {
    font-family: 'Roboto', serif;
    color: #dad9d9;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
}

.footer-narrow__social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 180px;
}


/*MODIFICATORS*/


/*MODIFICATORS --- HEADER*/

.adv-block--nowisopen {
    background: #e0e0e0;
    width: 270px;
    height: 300px;
    clear: left;
    float: left;
}

.adv-block__text--nowisopen {
    color: #333333;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    margin: 129px 0 0 142px;
    text-align: left;
    text-transform: uppercase;
}

.adv-block--welcome {
    position: absolute;
    width: 270px;
    height: 300px;
    background: #fff51f;
    top: 336px;
    left: 0;
    color: #333333;
    padding: 82px 30px 0 22px;
}

.adv-block__header--welcome {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.adv-block__text--welcome {
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    font-style: italic;
}

.adv-block--funride {
    width: 313px;
    height: 169px;
    color: #fff51f;
    margin: 177px 0 0 163px;
}

.adv-block__header--funride {
    font-size: 48px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 3px;
}

.adv-block__text--funride {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 62px;
}

.adv-block__button--buy {
    background-color: #fff51f;
    width: 124px;
    height: 49px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    font-size: 12px;
    font-weight: 900;
    margin-left: 3px;
}

.adv-block__button:active {
    margin-top: 3px;
}

.social-block-top__img:hover {
    filter: invert(.8);
}


/*MODIFICATORS --- MENU*/

.menu-lvl2--item4 {
    width: 155px;
    height: 162px;
    padding: 10px 0 0 30px;
    top: 0;
    right: -155px;
}

.menu-lvl3--item3 {
    width: 165px;
    height: 80px;
    padding: 0 0 0 30px;
    top: 76px;
    right: -165px;
}

.menu__item:hover {
    background: #333333;
    color: #fff;
}

.menu__item--4:hover .menu-lvl2--item4 {
    display: block;
}

.menu-lvl2__item:hover:after {
    float: right;
    margin-right: 13px;
    content: url(img/arrow.png);
}

.menu-lvl2__item--3:hover .menu-lvl3--item3 {
    display: block;
}


/*MODIFICATORS --- CONTAINER*/

.product-block-wrapper--new {
    height: 670px;
    margin-bottom: 18px;
}

.product-block__item--uppercase {
    text-transform: uppercase;
}

.social-bottom__item--facebook {
    background: #3b5997;
}

.social-bottom__item--twitter {
    background: #3fccfd;
}

.social-bottom__item--pinterest {
    background: #cb2027;
}

.instagram-feed__text--bold {
    font-size: 22px;
    margin-right: 5px;
}


/*MODIFICATORS --- FOOTER*/

.footer-block--newsletter {
    position: relative;
    width: 267px;
}

.footer-block__header--newsletter {
    margin-bottom: 10px;
}

.footer-block__text--newsletter {
    margin-bottom: 20px;
}

.footer-block__input {
    margin-bottom: 45px;
}

.footer-block--about {
    width: 232px;
}

.footer-block__header--about {
    margin-bottom: 10px;
}

.footer-block__text--about {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    /*	margin-bottom: 15px;*/
}

.footer-block__wrapper--news {
    padding: 0 8px 0 8px;
}

.footer-narrow__item:hover {
    filter: invert(.5);
}

.product-block__item--new:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 50px solid red;
    border-left: 50px solid transparent;
}

.product-block__item--new:after {
    content: "NEW";
    position: absolute;
    top: 7px;
    right: 7px;
    font-family: 'Roboto', serif;
    color: #ffffff;
    font-size: 9px;
    font-weight: 600;
}

.product-block__item--hot:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 50px solid yellow;
    border-left: 50px solid transparent;
}

.product-block__item--hot:after {
    content: "HOT";
    position: absolute;
    top: 7px;
    right: 7px;
    font-family: 'Roboto', serif;
    color: #000000;
    font-size: 9px;
    font-weight: 600;
}


/* HACK */

@media (max-width: 1500px) {
    .l-container {
        margin: -20px 165px 0 165px;
    }
}
