/*NORMALIZE*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #f9f9f9;
}


/*LAYOUT*/

.l-header {
    background: #abeafa;
    height: 700px;
    width: 100%
}

.l-footer {
    background: #373737;
    height: 348px;
    width: 100%
}

.l-container {
    margin: 0 auto;
    margin-top: -20px;
    width: 1170px;
    background-color: rgba(0, 0, 0, 0);
}

.l-catalog {
    background: #f9f9f9;
    padding-left: 300px;
    width: 870px;
}


/*BLOCKS*/

.menu {
    float: left;
    height: 475px;
    width: 270px;
    background-color: #26d2fc;
}


/*ELEMENTS*/

.product-block_item {
    margin: 30 auto;
    background-color: #ffffff;
    width: 270px;
    height: 320px;
}

.adv-block {}


/*MODIFICATORS*/

.adv-block--grey {
    clear: left;
    float: left;
}

.product-block--new {
    height: 748px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-block__header--new {}


/*.prod-block3,
.prod-block6,
.prod-block9,
.prod-block12 {
	margin: 0 0 30px 0;
}*/


/*.block-white:nth-child(3n+1) {
	margin: 0 0 30px 0;
}
