@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,700i,800,900|Roboto:400,700,900,900i');

/*NORMALIZE*/


/** {
    margin: 0;
    padding: 0;
}*/

body {
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    width: 100%;
}

* {
    box-sizing: border-box;
}


/*LAYOUT*/

.l-header {
    background: #abeafa;
    height: 700px;
    min-width: 1500px;
    width: 100%;
}

.l-header-fixed-size {
    display: flex;
    flex-flow: row nowrap;
    width: 1170px;
    background: #abeafa;
    margin: 0 auto;
}

.l-header-fixed-left {
    position: relative;
    width: 585px;
}

.l-header-fixed-right {
    position: relative;
    width: 585px;
}

.l-footer {
    background: #373737;
    height: 348px;
    min-width: 1500px;
    width: 100%;
}

.l-container {
    margin: 0 auto;
    margin-top: -20px;
    width: 1170px;
    background-color: rgba(0, 0, 0, 0);
}

.l-catalog {
    padding-left: 300px;
    min-width: 870px;
}


/*BLOCKS*/

.surhouse-logo {
    width: 125px;
    height: 111px;
    margin: 24px 0 0 69px;
}

.social-block-top {
    text-align: right;
    margin: 50px 80px 0 0;
}

.adv-block {
    font-family: 'Raleway', serif;
}

.menu {
/*	position: relative;*/
	display: flex;
	flex-flow: column nowrap;
    float: left;
    height: 475px;
    width: 270px;
    margin-bottom: 30px;
    background-color: #26d2fc;
	font-family: 'Roboto', serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

/*.menu-lvl2 {
	position: absolute;
	top: 200px;
	right: -100px;
}*/

.product-block-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.product-block--new {
    margin-bottom: 50px;
}

.product-block--top {
    margin-bottom: 50px;
}

.brand-block {
    display: flex;
    align-items: center;
    padding: 0 14px 0 14px;
    width: 100%;
    height: 160px;
    background: #fff;
}

.instagram-feed {
    width: 100%;
    height: 350px;
    background: #eaeaea;
    padding-top: 50px;
}

.social-bottom {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 150px;
}


/*ELEMENTS*/

.social-block-top__img {
    display: inline-block;
    margin-right: 12px;
}

.menu__list {
	margin-top: 15px;
}

.menu__header {
	background: #333333;
	width: 270px;
	height: 66px;
	padding-left: 40px;
	color:  #fff;
	line-height: 66px;
	vertical-align: middle;
}

.menu__item {
	padding-left: 40px;
	line-height: 35px;
	vertical-align: middle;
}

.menu__link {
	color: #333333;
	text-decoration: none;
}

.product-block__item {
    background-color: #ffffff;
    font-family: 'Roboto', serif;
    font-weight: 900;
    color: #333333;
    width: 270px;
    height: 320px;
    margin-bottom: 30px;
    padding: 10px;
}

.product-block__header {
    height: 80px;
    background: #f9f9f9;
}

.product-block__header-text {
    font-family: 'Roboto', serif;
    color: #707070;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    line-height: 80px;
    vertical-align: middle;
    text-transform: uppercase;
    margin-left: 25px;
}

.product-block__preview {
    background: #eaeaea;
    width: 250px;
    height: 235px;
}

.product-block__bottom-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}

.product-block__title {
    margin-top: 25px;
    font-size: 14px;
    line-height: 18px;
    text-align: start;
}

.product-block__price {
    margin-top: 27px;
    font-size: 18px;
    text-align: right;
}

.product-block__discount {
    align-self: flex-end;
    color: #e24602;
    font-size: 14px;
    text-align: right;
    margin-left: auto;
    text-decoration: line-through;
}

.social-bottom__item {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 390px;
    height: 150px;
}

.adv-block__button {
    border: none;
    font-family: 'Raleway', serif;
    outline: none;
}

.instagram-feed__text-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', serif;
    color: #333333;
    font-weight: 900;
    font-style: italic;
}

.instagram-feed__text {
    font-size: 18px;
}

.instagram-feed__icon {
    margin-right: 10px;
}

.instagram-feed__img-feed {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-top: 25px;
}

/*MODIFICATORS*/

.adv-block--nowisopen {
	background: #e0e0e0;
	width: 270px;
	height: 300px;
    clear: left;
    float: left;
}

.adv-block__text--nowisopen {
	color: #333333;
	font-size: 36px;
	font-weight: 800;
	font-style: italic;
	margin: 129px 0 0 142px;
	text-align: left;
	text-transform: uppercase;
}

.adv-block--welcome {
    position: absolute;
    width: 270px;
    height: 300px;
    background: #fff51f;
    top: 336px;
    left: 0;
    color: #333333;
    padding: 82px 30px 0 22px;
}

.adv-block__header--welcome {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.adv-block__text--welcome {
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    font-style: italic;
}

.adv-block--funride {
    width: 313px;
    height: 169px;
    color: #fff51f;
    margin: 177px 0 0 163px;
}

.adv-block__header--funride {
    font-size: 48px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 3px;
}

.adv-block__text--funride {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 62px;
}

.adv-block__button--buy {
    background-color: #fff51f;
    width: 124px;
    height: 49px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    font-size: 12px;
    font-weight: 900;
    margin-left: 3px;
}

.product-block-wrapper--new {
    height: 670px;
    margin-bottom: 18px;
}

.product-block__item--uppercase {
    text-transform: uppercase;
}

.social-bottom__item--facebook {
    background: #3b5997;
}

.social-bottom__item--twitter {
    background: #3fccfd;
}

.social-bottom__item--pinterest {
    background: #cb2027;
}

.instagram-feed__text--bold {
    font-size: 22px;
    margin-right: 5px;
}


.adv-block__button:active {
    margin-top: 3px;
}

.menu__item:hover {
	background: #333333;
	color: #fff;
}

/* HACK */

@media (max-width: 1500px) {
    .l-container {
        margin: -20px 165px 0 165px;
    }
}
